<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: template (~{:: .uk-section})}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="uk-section">
    <h1 class="uk-heading-bullet">Home Page</h1>
    <div class="uk-container uk-container-small">
        <article class="uk-article uk-margin-large uk-text-center">
            <h1 class="uk-article-title">Welcome on PlanInOne Kanban Board!</h1>
            <p>

                Nice to see You here!</br></br>

                Enter Your first project <a th:href="@{/create}">here</a></br></br>
                or</br></br>
                Show  list of projects on kanban board <a th:href="@{/list}">here</a>
                </span>
            </p>
        </article>
    </div>
</div>
</body>
</html>
