<!DOCTYPE html>
<html lang="en" th:fragment="template (content)" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlanInOne</title>

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body>
<div class="uk-container uk-container-large ">
    <nav class="uk-navbar-container uk-navbar-transparent " uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-list uk-list-divider uk-margin-small">
                <li>
                    <a class="uk-navbar-toggle uk-margin-remove" href="#">
                        <span uk-navbar-toggle-icon></span><span class="uk-margin-small-left">Menu</span>
                    </a>
                    <div class="uk-navbar-dropdown uk-margin-remove">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a th:href="@{/project}">Home Page</a></li>
                            <li><a th:href="@{/project/list}">Dashboard</a></li>
                            <li><a th:href="@{/project/create}">Add Project</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-center"><img th:src="@{/images/PlanInOneLogo.png}" width="200" height="100" alt="">
        </div>
    </nav>
    <div th:replace="${content}"></div>
</div>
</body>
</html>
